html, body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

figure{
    margin: 0;
    padding: 0;
}

button{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
    z-index: 999;
    /* display: none; */
}

button img{
    width: 100%;
    filter: drop-shadow(0 6px 4px black);
    opacity: 0;
}

@keyframes Up{
    0%{
        opacity: 0;
    }

    5%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes Down{
    0%{
        opacity: 0;
    }

    5%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

.lights-on-container figure{
    margin: 0;
    padding: 0;
    position: fixed;
    /* display: none; */
}

.lights-on-container figure:first-of-type{
    height: 100vh;
    /* border: 1px solid red; */
}

.lights-on-container figure:not(:first-of-type){
    width: 12.5vw;
    height: 12.5vw;
}

.lights-on-container figure img{
    height: 100%;
    filter: drop-shadow(0 0 2px lightgrey);
}

.lights-on-container figure:nth-of-type(1){
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.lights-on-container figure:nth-of-type(2){
    top: 0;
    left: 0;
}

.lights-on-container figure:nth-of-type(3){
    top: 0;
    right: 0;
}

.lights-on-container figure:nth-of-type(4){
    bottom: 0;
    left: 0;
}

.lights-on-container figure:nth-of-type(5){
    bottom: 0;
    right: 0;
}

/* lights off: sketches */
.lights-off-container{
    display: none;
}

.sketch-container{
    display: none;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
}

.sketch-container .main-sketch-container{
    width: 100vw;
    height: calc(100vh - 37.5vw);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.sketch-container .main-sketch-container img{
    max-width: 100%;
    max-height: 100%;
    /* border: 1px solid blue; */
}

.sketch-container .secondary-sketch-container{
    width: 12.5vw;
    height: 12.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.sketch-container .secondary-sketch-container img{
    max-width: 100%;
    max-height: 100%;
    /* border: 1px solid blue; */
}

.sketch-container .tool{
    width: 100vw;
    height: 12.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.sketch-container .tool img{
    max-width: 100%;
    max-height: 100%;
    /* border: 1px solid blue; */
}